@plugin "../../js/secits-less";

// anim
.on-hover(@hover) {
  &:hover:not(.disabled,.readonly) {
    each(@hover, {
        @{key}: @value;
    });
  }
}

.on-active(@active) {
  &:active:not(.disabled,.readonly) {
    each(@active, {
        @{key}: @value;
    });
  }
}

.on-focus(@focus) {
  &:has(:focus):not(.disabled,.readonly) {
    each(@focus, {
        @{key}: @value;
    });
  }
}

.on-select( @selected) {
  &.selected:not(.disabled,.readonly) {
    each(selected, {
        @{key}: @value;
    });
  }
}

// component
.s-component {
  background-color: transparent;
  border: var(--s-s-bw) solid transparent;
  color: var(--text-color);
  font-size: var(--s-s);
  border-radius: var(--s-s-br);
  position: relative;
  transition: 50ms;
}

.set-color(@name, @color) {
  --@{name}-color: var(@color);
  --@{name}-color-rgb: var(@{color}-rgb);
}

.is-normal() {
  --alpha: 1;
  border-color: var(--main-color);
  background-color: rgba(var(--main-color-rgb), var(--alpha));
  color: var(--part-color);
}

.is-plain() {
  --alpha: 1;
  border-color: rgba(var(--main-color-rgb), var(--alpha));
  background-color: rgba(var(--main-color-rgb), var(--alpha));
  color: var(--part-color);
}

.is-outline() {
  --alpha: 1;
  border-color: rgba(var(--main-color-rgb), var(--alpha));
  background-color: transparent;
  color: rgba(var(--main-color-rgb), var(--alpha));
}

.is-texted() {
  --alpha: 1;
  border-color: transparent;
  background-color: transparent;
  color: rgba(var(--main-color-rgb), var(--alpha));
}

input, textarea, button {
  margin: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
  font-size: var(--s-s);
}