@import (reference) "../general";

.s-avatar {
  &:extend(.s-component);
  .set-color(main, --sc-b-m);
  .set-color(part, --sc-b-p);
  --avatar-size: calc(var(--s-s) * 3);
  --avatar-font-size: calc(var(--s-s) * 2);
  background-color: var(--main-color);
  width: var(--avatar-size);
  height: var(--avatar-size);
  font-size: var(--avatar-font-size);
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;

  &.circle {
    border-radius: 50%;
  }

  & > .avatar-item-text {
    width: var(--avatar-font-size);
    height: var(--avatar-font-size);
  }

  & > .avatar-item-icon {
    width: var(--avatar-font-size);
    height: var(--avatar-font-size);
  }

  & > .avatar-item-image {
    width: var(--avatar-font-size);
    height: var(--avatar-font-size);
  }
}