@import (reference) "../general";

.s-avatar {
  &:extend(.s-component);
  .set-color(main, --sc-b-m);
  .set-color(part, --sc-b-p);
  background-color: var(--main-color);
  width: calc(var(--s-s) * 3);
  height: calc(var(--s-s) * 3);
  font-size: calc(var(--s-s) * 2);
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;

  &.circle {
    border-radius: 50%;
  }

  >.avatar-item-text{

  }
}