.sis,
.si-solid {
  text-align: center;
}
.sis::after,
.si-solid::after {
  font-style: normal;margin: auto;display: contents;
}
@font-face {
  font-family: 'si-solid';
  src: url('../icons/woff2/si-solid.woff2#si-solid') format('woff2');
}
.sis::after,
.si-solid::after {
  font-family: si-solid;
}
.sis.si-account::after,
.si-solid.si-account::after {
  content: '';
}
.sis.si-angle-down-d::after,
.si-solid.si-angle-down-d::after {
  content: '';
}
.sis.si-angle-down::after,
.si-solid.si-angle-down::after {
  content: '';
}
.sis.si-angle-left-d::after,
.si-solid.si-angle-left-d::after {
  content: '';
}
.sis.si-angle-left::after,
.si-solid.si-angle-left::after {
  content: '';
}
.sis.si-angle-right-d::after,
.si-solid.si-angle-right-d::after {
  content: '';
}
.sis.si-angle-right::after,
.si-solid.si-angle-right::after {
  content: '';
}
.sis.si-angle-up-d::after,
.si-solid.si-angle-up-d::after {
  content: '';
}
.sis.si-angle-up::after,
.si-solid.si-angle-up::after {
  content: '';
}
.sis.si-bars::after,
.si-solid.si-bars::after {
  content: '';
}
.sis.si-calendar::after,
.si-solid.si-calendar::after {
  content: '';
}
.sis.si-check::after,
.si-solid.si-check::after {
  content: '';
}
.sis.si-circle::after,
.si-solid.si-circle::after {
  content: '';
}
.sis.si-cross::after,
.si-solid.si-cross::after {
  content: '';
}
.sis.si-pin::after,
.si-solid.si-pin::after {
  content: '';
}
.sis.si-square::after,
.si-solid.si-square::after {
  content: '';
}
.sis.si-triangle-down::after,
.si-solid.si-triangle-down::after {
  content: '';
}
.sis.si-triangle-left::after,
.si-solid.si-triangle-left::after {
  content: '';
}
.sis.si-triangle-right::after,
.si-solid.si-triangle-right::after {
  content: '';
}
.sis.si-triangle-up::after,
.si-solid.si-triangle-up::after {
  content: '';
}
