@import  (reference)  "../general";

.s-badge-container {
  position: relative;
  display: inline-block;

  .s-badge {
    position: absolute;
    inset: size-vh(-2, -2);
    left: unset;
    bottom: unset;
  }
}