@import (reference)  "../general";

.s-card {
  &:extend(.s-component);
  margin: default-size();
  padding: default-size();

  .set-color(main, --sc-c-m);
  .set-color(part, --sc-c-p);
  border-color: var(--main-color);
  background-color: var(--component-color);
  color: var(--part-color);


  & > .s-card-header {
    font-weight: bold;
  }

}
