@import (reference)  "../general";

.s-card {
  &:extend(.s-component);
  margin: default-size();
  padding: default-size();

  .set-color(main, --sc-c-m);
  .set-color(part, --sc-c-p);
  .is-normal();


  & > .s-card-header {
    font-weight: bold;
  }

}
