@import "component";

.button {
  --button-color: rgba(var(--component-color-rgb), var(--component-opacity));

  &:extend(.component);
  &:extend(.disable-web-style all);
  &:extend(.group all);
  .has-padding();
  .set-component(--s-c, --s-c-t);
  text-align: center;
  background-color: var(--button-color);
  cursor: pointer;
  user-select: none;

  &:hover:not(.disabled,.readonly) {
    --component-opacity: 0.6;
  }

  &:active:not(.disabled,.readonly) {
    --component-opacity: 0.8;
  }

  &.plain {
    .set-text-color(--s-c-t-bg);
    --component-opacity: 0;
  }

  &.text {
    background-color: transparent;
    color: var(--button-color);
  }

  &.outline {
    background-color: transparent;
    .set-text-color(--s-c-t-bg);
    border-color: var(--button-color);
  }

  &.shadow {
    .add-shadow(var(--component-color-rgb));
    .set-shadow(calc(var(--s-s) * 0.25), 0.1);
    .set-component(--s-c-bg-r, --s-c-t-bg);
    background-color: transparent;

    &:hover:not(.disabled,.readonly) {
      .set-shadow(calc(var(--s-s) * 0.5), 0.2);
    }

    &:active:not(.disabled,.readonly) {
      .set-shadow(calc(var(--s-s) * 0.35), 0.15);
    }
  }
}

.icon {
  --icon-size: var(--s-s);
  border-radius: 50%;
  width: calc(var(--icon-size) / 1.5);
  height: calc(var(--icon-size) / 1.5);
  padding: calc(var(--icon-size) / 8);
  margin: calc(var(--icon-size) / 8);
}