@import "component";

.s-button {
  --button-color: rgba(var(--component-color-rgb), var(--component-opacity));

  &:extend(.component);
  &:extend(.disable-web-style all);
  &:extend(.group all);
  .has-padding();
  .set-component(--s-c, --s-c-t);
  background-color: var(--button-color);
  text-align: center;
  cursor: pointer;
  user-select: none;

  .set-anim-hover-active({
    --component-opacity: 0.6;
  }, {
    --component-opacity: 0.8;
  });

  &.plain {
    .set-text-color(--s-c-t-bg);
    --component-opacity: 0;

    .set-anim-hover-active({
      --component-opacity: 0.3;
    }, {
      --component-opacity: 0.5;
    });
  }

  &.text {
    .text(var(--button-color));
    background-color: transparent;
  }

  &.outline {
    .outline(var(--button-color));
    .text(var(--button-color));
    background-color: transparent;
  }

  &.shadow {
    .add-shadow(var(--component-color-rgb));
    .set-shadow(calc(var(--s-s) * 0.25), 0.1);
    .set-component(--s-c-bg-r, --s-c-t-bg);
    background-color: transparent;

    .set-anim-hover-active({
      .set-shadow(calc(var(--s-s) * 0.5), 0.2);
    }, {
      .set-shadow(calc(var(--s-s) * 0.35), 0.15);
    });
  }
}

.s-icon {
  --icon-color: rgba(var(--component-color-rgb), var(--component-opacity));
  --icon-size: var(--s-s);
  .text(inherit);
  border-radius: 50%;
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: var(--icon-size);
  display: inline-block;
  user-select: none;
  margin: auto;

  & > svg {
    height: 100%;
    width: 100%;
    display: block;
  }

  &.anim {
    .text(var(--icon-color));
    --component-opacity: 0.8;

    .set-anim-hover-active({
      --component-opacity: 1;
    }, {
      --component-opacity: 0.6;
    });
  }
}