.size-calc(@v) {
  @res: if(@v <= 0, 0, calc(var(--s-s) / @v));
}

.set-four(@e, @t, @r, @b, @l) {
    @{e}: .size-calc(@t)[@res] .size-calc(@r) [@res].size-calc(@b) [@res].size-calc(@l) [@res];
}

.set-two(@e, @v, @h) {
    @{e}: .size-calc(@v)[@res] .size-calc(@h) [@res];
}

.set-one(@e, @v) {
    @{e}: .size-calc(@v)[@res];
}

.has-padding() {
  .set-two(padding, 2, 4);
}

.has-padding(@v) {
  .set-one(padding, @v);
}

.has-padding(@v, @h) {
  .set-two(padding, @v, @h);
}

.has-padding(@v, @t, @r, @b, @l) {
  .set-four(padding, @t, @r, @b, @l);
}

.has-margin() {
  .set-two(margin, 2, 4);
}

.has-margin(@v) {
  .set-one(margin, @v);
}

.has-margin(@v, @h) {
  .set-two(margin, @v, @h);
}

.has-margin(@v, @t, @r, @b, @l) {
  .set-four(margin, @t, @r, @b, @l);
}


.add-shadow(@color-rgb) {
  box-shadow: 0 var(--shadow-size) var(--shadow-size) rgba(@color-rgb, var(--shadow-opacity));
}

.set-shadow(@size, @opacity) {
  --shadow-size: @size;
  --shadow-opacity: @opacity;
}

.set-anim-hover-active(@hover,@active) {
  &:hover:not(.disabled,.readonly) {
    each(@hover, {
        @{key}: @value;
    });
  }

  &:active:not(.disabled,.readonly) {
    each(@active, {
        @{key}: @value;
    });
  }
}


.set-anim-hover-focus(@hover,@focus) {
  &:hover:not(.disabled,.readonly) {
    each(@hover, {
        @{key}: @value;
    });
  }

  &:has(:focus):not(.disabled,.readonly) {
    each(@focus, {
        @{key}: @value;
    });
  }
}

.set-anim-hover-selected(@hover, @active) {
  &:hover:not(.disabled,.readonly) {
    each(@hover, {
        @{key}: @value;
    });
  }

  &.selected:not(.disabled,.readonly) {
    each(@active, {
        @{key}: @value;
    });
  }
}

.set-component-color(@color) {
  --component-color: var(@color);
  --component-color-rgb: var(@{color}-rgb);
}

.set-text-color(@color) {
  --text-color: var(@color);
  --text-color-rgb: var(@{color}-rgb);
}

.set-component(@color, @text-color) {
  .set-component-color(@color);
  .set-text-color(@text-color);
}

.component {
  --component-opacity: 1;
  border: var(--s-s-bw) solid transparent;
  font-size: var(--s-s);
  border-radius: var(--s-s-br);
  background-color: var(--component-color);
  color: var(--text-color);
  position: relative;
  transition: 50ms;
}

.content() {
  &:extend(.component);
  .set-component-color(--s-c-bg);
  .set-text-color(--s-c-bg-t);
}

.text(@text-color) {
  color: @text-color;
}

.outline(@border-color) {
  .set-text-color(--s-c-t-bg);
  border-color: @border-color;
}

.disable-web-style {
  input, textarea, button, input&, textarea&, button& {
    margin: 0;
    outline: none;
    border: none;
    background: none;
    font-size: var(--s-s);
  }
}

.group {
  display: grid;
  --u: var(--s-s);

  div, span {
    margin: 0;
  }

  .l {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .r {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .t {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .b {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .m {
    border-radius: 0;
  }
}