@import "component";

.input-style() {
  &:extend(.component);
  --input-color: rgba(var(--component-color-rgb), var(--component-opacity));
  .set-component(--s-c, --s-c-t-bg);
  background-color: var(--s-c-bg);
  border-color: var(--input-color);

  &.shadow {
    .add-shadow(var(--component-color-rgb));
    .set-shadow(calc(var(--s-s) * 0.25), 0.1);
    .set-component(--s-c-bg-r, --s-c-t-bg);
    border-color: transparent;
    background-color: transparent;

    .set-anim-hover-focus({
      .set-shadow(calc(var(--s-s) * 0.5), 0.2);
    }, {
      .set-shadow(calc(var(--s-s) * 0.35), 0.15);
    });
  }
}

.s-input {
  &:extend(.disable-web-style all);
  &:extend(.group all);
  .has-padding(0, 4);
  .input-style();

  width: 100%;
  height: 100%;

  --component-opacity: 0.25;

  .set-anim-hover-focus({
    --component-opacity: 0.6;
  }, {
    --component-opacity: 1;
  });

  input, textarea {
    min-height: var(--s-s);
    width: 100% !important;
    .has-padding(4, 0);
  }

  textarea {
    margin-bottom: 0.25rem;
  }
}

.s-input:has(input[type="checkbox"]) {
  &:extend(.disable-web-style all);
  &:extend(.group all);
  .has-padding(0, 4);
  .input-style();
  .has-margin();
  padding: 0;
  width: var(--s-s);
  height: var(--s-s);

  --component-opacity: 0.8;

  .set-anim-hover-focus({
    --component-opacity: 0.4;
  }, {
    --component-opacity: 0.8;
  });

  input[type="checkbox"] {
    appearance: none;

    &:checked {
      background-color: var(--component-color);
      width: 100%;
      height: 100%;
      mask: url("../images/check.svg") no-repeat;
      mask-size: contain;
    }
  }
}

.check-box {
  .input-style();
  --size: calc(var(--s-s) * 1.75);
  .has-margin(4, 0);
  height: var(--size);
  width: var(--size);
  border-width: 2px;
  font-weight: bold;

  --component-opacity: 0.8;

  .set-anim-hover-focus({
    --component-opacity: 0.6;
  }, {
    --component-opacity: 1;
  });

  & > .s-check {
    color: var(--input-color);
    width: 70%;
    height: 70%;
    padding: 15%;
  }
}