@import "component";

.input {
  &:extend(.component);
  &:extend(.disable-web-style all);
  &:extend(.group all);
  .has-padding();

  background-color: transparent;
  border-color: var(--component-color);

  --component-color: rgba(from var(--s-c) r g b / 0.25);

  &:hover {
    --component-color: rgba(from var(--s-c) r g b / 0.6);
  }

  &:has(:focus) {
    --component-color: var(--s-c);
  }
}