@import "card";

.set-color-mixed(@name) {
  --@{name}-color: color-mix(in srgb, var(--s-c) var(--@{name}-opacity), var(--s-c-bg));
}

.set-color-opacity(@name) {
  --@{name}-color: rgba(var(--s-c-rgb), var(--@{name}-opacity));
}

.set-color-iter(@name, @o, @e) {
  background-color: ~"var(--@{name}-color)";
  &:nth-child(odd) {
    --@{name}-opacity: ~"@{o}%";
  }
  &:nth-child(even) {
    --@{name}-opacity: ~"@{e}%";
  }
}

.set-anim-hover-selected(@hover,@active) {
  &:hover:not(.disabled,.readonly) {
    each(@hover, {
        @{key}: @value;
    });
  }

  &.selected:not(.disabled,.readonly) {
    each(@active, {
        @{key}: @value;
    });
  }
}


.iterator(@component-name) {
  .content();
  &.outline {
    .outline(var(--s-c));
  }
}

.s-list {
  .iterator(list);
  .set-anim-hover-selected({
    --row-opacity: 10%;
  }, {
    --row-opacity: 20%;
  });

  .list-row {
    .set-color-iter(row, 5, 0);
    .set-color-mixed(row);
  }
}

.s-grid {
  .iterator(grid);
  --grid-height: 600px;
  display: grid;
  grid-template-columns: auto;

  &.visualize > .grid-container {
    height: var(--grid-height);
  }

  & > .grid-container {
    .content();
    position: relative;
    overflow: auto;

    & > .grid-row {
      .set-color-iter(row, 5, 0);
      .set-color-mixed(row);
      --row-z-index: 0;
      width: 100%;
      display: grid;
      grid-template-columns: var(--column-template);
      z-index: var(--row-z-index);

      .fix(@position) {
        & > .grid-col.fix-@{position} {
          background-color: color-mix(in srgb, var(--s-c) calc(var(--row-opacity) + 10%), var(--s-c-bg));
          --col-z-index: 1;
          position: sticky;
            @{position}: 0;
        }
      }

      & > .grid-col {
        .set-color-iter(col, 0, 5);
        .has-padding();
        --col-z-index: 0;

        grid-column: auto / span 1;
        position: relative;
        z-index: calc(var(--col-z-index) + var(--row-z-index));
      }

      &.body {
        .set-anim-hover-selected({
          --row-opacity: 10%;
        }, {
          --row-opacity: 20%;
        });

        & > .grid-col {
          .set-color-opacity(col);
        }
      }

      &.header, &.footer {
        position: sticky;
        --row-z-index: 2;

        & > .grid-col {
          .set-color-mixed(col);
        }
      }

      &.header {
        top: 0;
        user-select: none;

        & > .grid-col {
          font-weight: bold;

          .resizer {
            position: absolute;
            right: -0.5rem;
            width: 1rem;
            top: 0;
            bottom: 0;
            cursor: col-resize;
            z-index: 8;
          }
        }
      }

      &.footer {
        bottom: 0;
      }

      .fix(left);
      .fix(right);
    }
  }
}
