@import "card";

.set-color-mixed(@name) {
  --@{name}-color: color-mix(in srgb, var(--s-c) var(--@{name}-opacity), var(--s-c-bg));
}

.set-color-opacity(@name) {
  --@{name}-color: rgba(var(--s-c-rgb), var(--@{name}-opacity));
}

.set-color-iter(@name, @o, @e) {
  background-color: ~"var(--@{name}-color)";
  &:nth-child(odd) {
    --@{name}-opacity: ~"@{o}%";
  }
  &:nth-child(even) {
    --@{name}-opacity: ~"@{e}%";
  }
}

.set-anim-hover-selected(@hover,@active) {
  &:hover:not(.disabled,.readonly) {
    each(@hover, {
        @{key}: @value;
    });
  }

  &.selected:not(.disabled,.readonly) {
    each(@active, {
        @{key}: @value;
    });
  }
}


.iterator(@component-name) {
  .content();
  &.outline {
    .outline(var(--s-c));
  }
}

.s-list {
  .iterator(list);

  > .list-row {
    .set-color-iter(row, 5, 0);
    .set-color-mixed(row);
    .set-anim-hover-selected({
      --row-opacity: 10%;
    }, {
      --row-opacity: 20%;
    });
  }
}

.s-grid {
  .iterator(grid);
  --grid-height: 600px;
  display: grid;
  grid-template-columns: auto;

  &.visualize > .grid-container {
    height: var(--grid-height);

    & > spacer {
      display: block;
    }
  }

  & > .grid-container {
    .content();
    //--template-body: ;
    //--template-front: ;
    //--template-behind: ;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;

    & > .grid-row {
      .set-color-iter(row, 5, 0);
      .set-color-mixed(row);
      width: var(--grid-row-width);
      display: grid;
      grid-template-columns: var(--template-body);

      .fix(@position,@name) {
        .grid-col-@{name} {
          z-index: 1;
          background-color: color-mix(in srgb, var(--s-c) calc(var(--row-opacity) + 10%), var(--s-c-bg));
          position: sticky;
            @{position}: 0;
          display: grid;
          grid-column: auto / span 1;
          grid-template-columns: var(--template- @name);
        }
      }

      .fix(left, front) ;
      .fix(right, behind) ;

      .grid-col-front {
        border-right: 1px solid color-mix(in srgb, var(--s-c) calc(var(--row-opacity) + 20%), var(--s-c-bg));
      }

      .grid-col-behind {
        border-left: 1px solid color-mix(in srgb, var(--s-c) calc(var(--row-opacity) + 20%), var(--s-c-bg));
      }

      .grid-col {
        .set-color-iter(col, 0, 5);
        .has-padding();
        position: relative;
        grid-column: auto / span 1;
      }

      &.body {
        .set-anim-hover-selected({
          --row-opacity: 10%;
        }, {
          --row-opacity: 20%;
        });

        .grid-col {
          .set-color-opacity(col);
        }
      }

      &.header, &.footer {
        position: sticky;
        z-index: 2;

        .grid-col {
          .set-color-mixed(col);
        }
      }

      &.header {
        top: 0;
        user-select: none;
        border-bottom: 1px solid color-mix(in srgb, var(--s-c) calc(var(--row-opacity) + 40%), var(--s-c-bg));

        .grid-col {
          font-weight: bold;

          .resizer {
            z-index: 2;
            position: absolute;
            right: -0.5rem;
            width: 1rem;
            top: 0;
            bottom: 0;
            cursor: col-resize;

            &.half {
              right: 0;
              width: 0.5rem;
            }
          }
        }
      }

      &.footer {
        border-top: 1px solid color-mix(in srgb, var(--s-c) calc(var(--row-opacity) + 40%), var(--s-c-bg));
        bottom: 0;
      }
    }
  }
}


.pager {
  display: flex;

  .s-button {
    .has-margin();
    min-width: var(--s-s);
    height: var(--s-s);
    line-height: var(--s-s);
    text-align: center;
  }
}