@import "component";

.inline-block {
  .has-margin();
  display: inline-block;
}

.s-form-layout {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-auto-flow: row;
  grid-gap: 1rem;

  .form-item-title {
    display: block;
    grid-row: 1 / 2;
    vertical-align: bottom;
    font-size: calc(0.9 * var(--s-s));
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: rgba(var(--s-c-bg-t-rgb), 0.8);
  }

  .form-item-content{
    display: table;
  }

  .form-item {
    display: grid;
    grid-template-rows: auto  1fr;
    grid-template-columns: 1fr;
    --col-span-xs: 12;
    --col-span-sm: 6;
    --col-span-md: 4;
    --col-span-lg: 3;
    --col-span-xl: 2;
    @width-xs: 480px;
    @width-sm: 960px;
    @width-md: 1340px;
    @width-lg: 1820px;
    @width-xl: 7680px;

    @sizes: xs, sm, md, lg, xl;
    each(range(12), {
      @index: @value;
      each(@sizes, {
        &.col-@{value}-@{index} {
          --col-span-@{value}: @index;
        }
      })
    })

    @media (max-width: @width-xs) {
      grid-column: auto / span var(--col-span-xs);
    }

    @media (min-width: @width-xs + 1px ) and ( max-width: @width-sm) {
      grid-column: auto / span var(--col-span-sm);
    }

    @media (min-width: @width-sm + 1px ) and ( max-width: @width-md) {
      grid-column: auto / span var(--col-span-md);
    }

    @media (min-width: @width-md + 1px ) and ( max-width: @width-lg) {
      grid-column: auto / span var(--col-span-lg);
    }

    @media (min-width: @width-lg + 1px ) {
      grid-column: auto / span var(--col-span-xl);
    }
  }
}