@import "component";

.s-menu {
  &.collapsed {
    display: none;
  }

  .menu-item {
    --menu-item-color: rgba(var(--component-color-rgb), var(--component-opacity));
    .component();
    .set-component-color(--s-c);
    .has-margin(4);
    .has-padding(4);
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    background-color: var(--menu-item-color);

    --component-opacity: 0;
    .set-anim-hover-selected({
      --component-opacity: 0.1;
    }, {
      --component-opacity: 0.05;
    });

    > .menu-item-text {
      padding: 0 5px;
      width: 100%;
    }
  }
}

.s-context-menu {
  z-index: 8;
  position: absolute;
}

.s-dropdown {
  &-content {
    .add-shadow(var(--s-c-bg-r-rgb));
    top: calc(100% + 0.125rem);
    left: 0;
    right: 0;
    overflow-y: auto;
  }
}


.s-page-router-view.s-tab-tags {
  .add-shadow(var(--s-c-bg-r-rgb));
  .set-shadow(0.2rem, 0.25);
  .has-margin(0);
  .has-padding(0, 0.5);
  background-color: var(--s-c-bg);
  position: sticky;
  top: 0;
  overflow-x: auto;
  z-index: 4;

  & > .s-tab-tag {
    --color: color-mix(in srgb, var(--s-c) 20%, var(--s-c-bg-t));
    background-color: var(--border-color);
    border-color: transparent;
    color: var(--color);
    display: flex;

    & > .tab-text {
      .has-margin(0, 4);
      text-decoration: none !important;
      color: inherit !important;
    }

    .set-anim-hover-selected({
      --opacity: 0.2 !important;
    }, {
      --opacity: 0.1 !important;
    });

    & > .s-icon.anim {
      --component-color-rgb: var(--s-c-card-rgb);
      --component-opacity: 0;
    }

    &:hover {
      & > .s-icon.anim {
        --component-opacity: 0.3;

        .set-anim-hover-active({
          --component-opacity: 1;
        }, {
          --component-opacity: 0.6;
        });
      }
    }
  }
}
