@import "component";


.s-card {
  .content();
  .has-padding(4, 2);
  .has-margin();
  .set-component-color(--s-c-card);

  .header {
    font-weight: bold;
  }
}

.s-tab-tags {
  &:extend(.s-card);
  display: flex;

  & > .s-tab-tag {
    .has-padding(8, 4);
    .has-margin(8, 16);
    --opacity: 0;
    --border-color:rgba(var(--s-c-rgb), var(--opacity));
    border: 2px solid var(--border-color);
    border-radius: var(--s-s-br);
    transition: 50ms;
    .set-anim-hover-selected({
      --opacity: 1;
      cursor: pointer;
    }, {
      --opacity: 0.6;
    });
  }
}

