
.s-overlay {
  position: absolute;
  display: block;

  &.o-ol {
    right: calc(var(--or) + var(--ow) + var(--ith));
    left: unset;
  }

  &.o-il {
    right: unset;
    left: calc(var(--ol) + var(--ith));
  }

  &.o-ct {
    right: unset;
    left: calc(var(--ol) + var(--ow) / 2);
    transform: translate(-50%, 0);
  }

  &.o-ir {
    right: calc(var(--or) + var(--ith));
    left: unset;
  }

  &.o-or {
    right: unset;
    left: calc(var(--ol) + var(--ow) + var(--ith));
  }

  &.o-ot {
    bottom: calc(var(--ob) + var(--oh) + var(--itv));
    top: unset;
  }

  &.o-it {
    bottom: unset;
    top: calc(var(--ot) + var(--itv));
  }

  &.o-md {
    bottom: unset;
    top: calc(var(--ot) + var(--oh) / 2);
    transform: translate(-50%, 0);
  }

  &.o-ib {
    bottom: calc(var(--ob) + var(--itv));
    top: unset;
  }

  &.o-ob {
    bottom: unset;
    top: calc(var(--ot) + var(--oh) + var(--itv));
  }

  &.o-md, &.o-md {
    transform: translate(-50%, -50%);
  }
}
