
.s-overlay {
  position: absolute;
  display: block;

  &.oa-l {
    right: calc(var(--or) + var(--ow));
    left: unset;
  }

  &.oa-r {
    right: unset;
    left: calc(var(--ol) + var(--ow));
  }

  &.oa-t {
    bottom: calc(var(--ob) + var(--oh));
    top: unset;
  }

  &.oa-b {
    bottom: unset;
    top: calc(var(--ot) + var(--oh));
  }

  &.oa-l, &.oa-r {
    &.oj-bb {
      bottom: calc(var(--ob) + var(--oh));
      top: unset;
    }

    &.oj-b {
      bottom: unset;
      top: calc(var(--ot) + var(--oi));
    }

    &.oj-m {
      bottom: unset;
      top: calc(var(--ot) + var(--oh) / 2);
      transform: translate(0, -50%);
    }

    &.oj-e {
      bottom: calc(var(--ob) + var(--oi));
      top: unset;
    }

    &.oj-ae {
      bottom: unset;
      top: calc(var(--ot) + var(--oh));
    }
  }

  &.oa-t, &.oa-b {
    &.oj-bb {
      right: calc(var(--or) + var(--ow));
      left: unset;
    }

    &.oj-b {
      right: unset;
      left: calc(var(--ol) + var(--oi));
    }

    &.oj-m {
      right: unset;
      left: calc(var(--ol) + var(--ow) / 2);
      transform: translate(-50%, 0);
    }

    &.oj-e {

      right: calc(var(--or) + var(--oi));
      left: unset;
    }

    &.oj-ae {
      right: unset;
      left: calc(var(--ol) + var(--ow));
    }
  }
}
