@import  (reference) "../general";

.s-title {
  h1& {
    padding: size-vh(0.25, 0);
  }

  h2& {
    padding: size-vh(0.5, 0);
  }

  h3& {
    padding: size-vh(1, 0);
  }

  h4& {
    padding: size-vh(2, 0);
  }

  h5& {
    padding: size-vh(4, 0);
  }

  h6& {
    padding: size-vh(8, 0);
  }
}