@import (reference)  "../general";
@import (reference)  "../../icons/si-general";
@import (reference)  "../../icons/si-solid";

// input icon
.sii {
  &:extend(.s-component all);
  &:extend(.si all);
  border: none;
  background-color: transparent;
  color: var(--component-color);
  display: block;
  margin: auto;
  font-family: si-solid;
  font-size: calc(var(--s-s) * 0.75);
  .set-color(main, --sc-a-m);
  .set-color(part, --sc-a-p);
  --alpha: 100%;
  .on-hover({
    --alpha: 60%;
  });
  .on-active({
    --alpha: 80%;
  });
}

.s-input-general {
  &:extend(.s-component);
  .set-color(main, --sc-a-m);
  .set-color(part, --sc-c-p);

  --alpha: 25%;
  border-width: 0.125rem;
  border-color: var(--component-color);
  background-color: var(--sc-c-m);
  color: var(--part-color);
  position: relative;

  .on-hover({
    --alpha: 60%;
  });
  .on-focus({
    --alpha: 100%;
  });

  input, textarea {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
  }

  &.shadow {
    @shadow-x: 0;
    @shadow-y: 0;
    @shadow-extend: 0;
    --shadow-alpha: 0.3;
    --shadow-size: calc(var(--s-s) * 0.5);
    box-shadow: @shadow-x @shadow-y var(--shadow-size) @shadow-extend rgba(var(--main-color-rgb), var(--shadow-alpha));

    .on-hover({
      --shadow-size: calc(var(--s-s) * 1);
      --shadow-alpha: 0.5;
    });
    .on-focus({
      --shadow-size: calc(var(--s-s) * 0.7);
      --shadow-alpha: 0.7;
    });
  }
}

.s-input {
  &:extend(.s-input-general all);
  --input-margin: size-vh(4, 4);

  display: flex;
  width: 100%;

  & > input, textarea {
    padding: var(--input-margin);
    min-height: var(--s-s);
    width: 100% !important;
    color: var(--part-color);
  }

  --element-display: none;

  & > .s-input-elements {
    display: var(--element-display);
    position: absolute;
    inset: var(--input-margin);
    left: unset;
    bottom: unset;

    & > .s-input-element {
      display: flex;
      width: var(--s-s);
      height: var(--s-s);
    }
  }

  .on-hover({
    --element-display: flex;
  });
  .on-focus({
    --element-display: flex;
  });
}

.s-input-number {
  &:extend(.s-input all);

  & > input {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  & > .s-input-elements > .s-outer-spin-button {
    display: inline-block;
    width: var(--s-s);
    height: var(--s-s);

    & > .sii {
      --icon-size: calc(var(--s-s) / 2);
      height: var(--icon-size);
      font-size: var(--icon-size);
    }

    & > .s-spin-down::after {
      &:extend(.sis.si-triangle-down::after);
    }

    & > .s-spin-up::after {
      &:extend(.sis.si-triangle-up::after);
    }
  }
}

.s-input-date-time {
  &:extend(.s-input all);

  & > input {
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  & > .s-input-elements > .s-outer-spin-button {
    display: inline-block;
    line-height: var(--s-s);

    &.s-calendar::after {
      &:extend(.sis.si-calendar::after);
    }
  }
}

.s-input-check {
  &:extend(.s-input-general all);

  --input-size: calc(var(--s-s) * 1.5);
  display: block;
  width: var(--input-size);
  height: var(--input-size);

  input {
    position: absolute;
    inset: 0;
    display: flex;
    color: var(--component-color);
    font-family: si-solid;
    font-size: calc(var(--s-s) * 1.4);
    &:extend(.si all);

    &::after {
      display: block;
      margin: auto;
    }

  }

  input:checked::after {
    &:extend(.sis.si-check::after);
  }

  input:indeterminate::after {
    &:extend(.sis.si-square::after);
  }
}

.s-input > .s-input-elements > .s-input-element > .s-clear::after {
  &:extend(.sis.si-cross::after);
}