@import (reference) "si-general";

@font-face {
  font-family: 'si-solid';
  src: url('@{relative-path}/icons/woff2/si-solid.woff2#si-solid') format('woff2');
}

.sis, .si-solid {
  &:extend(.si all);

  &::after {
    font-family: si-solid;
  }
}