@import (reference) "general";
@import "atom/@{theme}";
@import "element/@{theme}";
@import "avatar/@{theme}";
@import "badge/@{theme}";
@import "button/@{theme}";
@import "card/@{theme}";
@import "date-time/@{theme}";
@import "icon/@{theme}";
@import "input/@{theme}";
@import "layout/@{theme}";
@import "menu/@{theme}";
@import "overlay/@{theme}";
@import "pager/@{theme}";
@import "progress/@{theme}";
@import "table/@{theme}";
@import "tabs/@{theme}";


[disabled="disabled"] {
  --main-color: var(--sc-d-m) !important;
  --main-color-rgb: var(--sc-d-m-rgb) !important;
  --part-color: var(--sc-d-p) !important;
  --part-color-rgb: var(--sc-d-p-rgb) !important;
  cursor: unset;
}

html, body, .s-app-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.s-app-container {
  background-color: var(--sc-b-m);
  position: relative;
  display: flex;
}

:root {
  ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    position: relative;
  }

  /* 滚动条轨道 */

  ::-webkit-scrollbar-track {
    background: rgba(var(--sc-b-m-rgb), 0.5); /* 背景颜色 */
    border-radius: 0.5rem;
  }

  /* 滚动条滑块 */

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--sc-a-m-rgb), 0.6); /* 滑块颜色 */
    border: 0.4rem solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    background-clip: content-box;
  }
}