@import "avatar/@{theme}";
@import "badge/@{theme}";
@import "button/@{theme}";
@import "card/@{theme}";
@import "icon/@{theme}";
@import "input/@{theme}";
@import "pager/@{theme}";
@import "progress/@{theme}";
@import "title/@{theme}";

html, body, .s-app-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.s-app-container {
  background-color: var(--sc-b-m);
  position: relative;
  display: flex;
}