@plugin "../../js/secits-less";

// anim
.on-hover(@hover) {
  &:hover:not([disabled="disabled"],[readonly="readonly"]) {
    each(@hover, {
        @{key}: @value;
    });
  }
}

.on-active(@active) {
  &:active:not([disabled="disabled"],[readonly="readonly"]) {
    each(@active, {
        @{key}: @value;
    });
  }
}

.on-focus(@focus) {
  &:has(:focus):not([disabled="disabled"],[readonly="readonly"]) {
    each(@focus, {
        @{key}: @value;
    });
  }
}

.on-select( @selected) {
  &.selected:not([disabled="disabled"],[readonly="readonly"]) {
    each(@selected, {
        @{key}: @value;
    });
  }
}

// components
.s-component {
  border-style: solid;
  border-width: var(--s-s-bw);
  font-size: var(--s-s);
  border-radius: var(--s-s-br);
  transition: 50ms;
  --alpha: 100%;
  --component-color: color-mix(in srgb, var(--main-color) var(--alpha), var(--sc-c-m));
}

.set-color(@name, @color) {
  --@{name}-color: var(@color);
  --@{name}-color-rgb: var(@{color}-rgb);
}

input, textarea, button {
  margin: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
  font-size: var(--s-s);
}