@import  (reference) "../general";

.s-icon {
  border-radius: 50%;
  width: var(--s-s);
  height: var(--s-s);
  font-size: var(--s-s);;
  display: inline-block;
  user-select: none;
  margin: auto;
  color: inherit;

  & > svg {
    height: 100%;
    width: 100%;
    display: block;
  }
}
