@import (reference)  "../general";

.s-button {
  &:extend(.s-component);
  padding: default-size();
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: inline-block;

  .set-color(main, --sc-a-m);
  .set-color(part, --sc-a-p);

  // default style
  .is-normal();

  &.plain {
    .is-plain();
  }

  &.outline {
    .is-outline();
  }

  &.text {
    .is-text();
  }

  .on-hover({
    --alpha: 60%;
  });
  .on-active({
    --alpha: 80%;
  });

  &.shadow {
    .is-plain();
    @shadow-x: 0;
    @shadow-y: 0;
    @shadow-extend: 0;
    --shadow-alpha: 0.3;
    --shadow-size: calc(var(--s-s) * 0.5);
    box-shadow: @shadow-x @shadow-y var(--shadow-size) @shadow-extend rgba(var(--main-color-rgb), var(--shadow-alpha));

    .on-hover({
      --shadow-size: calc(var(--s-s) * 1);
      --shadow-alpha: 0.5;
    });
    .on-active({
      --shadow-size: calc(var(--s-s) * 0.7);
      --shadow-alpha: 0.7;
    });
  }
}