@import (reference)  "../general";

.s-button {
  &:extend(.s-component);
  padding: default-size();
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: inline-block;

  .set-color(main, --sc-a-m);
  .set-color(part, --sc-a-p);

  // default style
  border-color: var(--main-color);
  background-color: var(--component-color);
  color: var(--part-color);

  .on-hover({
    --alpha: 60%;
  });
  .on-active({
    --alpha: 80%;
  });

  &.plain {
    border-color: var(--component-color);
  }

  &.outline {
    border-color: var(--component-color);
    background-color: transparent;
    color: var(--component-color);
  }

  &.text {
    border-color: transparent;
    background-color: transparent;
    color: var(--component-color);
  }


  &.shadow {
    @shadow-x: 0;
    @shadow-y: 0;
    @shadow-extend: 0;
    --shadow-alpha: 0.3;
    --shadow-size: calc(var(--s-s) * 0.5);
    box-shadow: @shadow-x @shadow-y var(--shadow-size) @shadow-extend rgba(var(--main-color-rgb), var(--shadow-alpha));

    &.text {
      --shadow-alpha: 0;
    }

    .on-hover({
      --shadow-size: calc(var(--s-s) * 1);
      --shadow-alpha: 0.5;
    });
    .on-active({
      --shadow-size: calc(var(--s-s) * 0.7);
      --shadow-alpha: 0.7;
    });
  }
}