@import (reference)  "../general";

.s-button {
  &:extend(.s-component);
  padding: size();
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: inline-block;

  .set-color(main, --sc-a-m);
  .set-color(part, --sc-a-p);

  // default style
  .is-normal();

  &.plain, &.text {
    .is-plain();
  }

  &.outline {
    .is-outline();
  }

  .on-hover({
    --alpha: 0.6;
  });
  .on-active({
    --alpha: 0.8;
  });

  &.text {
    --alpha: 0.0;
    .on-hover({
      --alpha: 0.3;
    });
    .on-active({
      --alpha: 0.5;
    });
  }

  &.shadow {
    @shadow-x: 0;
    @shadow-y: 0;
    @shadow-size: 0.2rem;
    @shadow-extend: 0;
    --shadow-alpha: 0.25;
    box-shadow: @shadow-x @shadow-y @shadow-size @shadow-extend rgba(var(--sc-b-p-rgb), var(--shadow-alpha));

    .on-hover({
      --shadow-size: calc(var(--s-s) * 0.5);
      --shadow-alpha: 0.2;
    });
    .on-active({
      --shadow-size: calc(var(--s-s) * 0.35);
      --shadow-alpha: 0.15;
    });
  }
}