@import  (reference) "../general";

.s-table {
  isolation: isolate;
  position: relative;
  &:extend(.s-component);

  border-color: var(--sc-a-m);
  background-color: var(--sc-c-m);
  color: var(--sc-c-p);

  table {
    width: 100%;
    border-collapse: collapse;
  }

  tr.selected {
    background-color: var(--sc-a-m);
    color: var(--sc-a-p);
  }
  td, th {
    padding: default-size();
    border-right: 1px solid var(--sc-a-m);
    border-bottom: 1px solid var(--sc-a-m);

    &:last-child {
      border-right: 0;
    }
  }

  thead {
    position: sticky;
    background-color: var(--sc-c-m);
    z-index: 1;
    box-shadow: 0 1px 0 var(--sc-a-m);
    top: 0;
  }

  tfoot {
    position: sticky;
    background-color: var(--sc-c-m);
    border-bottom: 1px solid var(--sc-a-m);
    box-shadow: 0 -1px 0 var(--sc-a-m);
    z-index: 1;
    bottom: 0;
  }


  &.s-virtualize {
    overflow: auto;
  }

  .s-pager {
    border: 0;
  }
}