@background-m: rgb(28, 28, 28);
@background-p: rgb(192, 192, 192);
@card-m: rgb(2, 14, 16);
@card-p: rgb(133, 133, 133);
@disabled-m: rgb(89, 89, 89);
@disabled-p: rgb(0, 0, 0);
@primary-m: rgb(24, 83, 149);
@primary-p: rgb(255, 255, 255);
@secondary-m: rgb(16, 119, 95);
@secondary-p: @primary-p;
@naive-m: rgb(78, 78, 78);
@naive-p: @primary-p;
@success-m: rgb(37, 112, 9);
@success-p: @primary-p;
@info-m: rgb(89, 10, 119);
@info-p: @primary-p;
@warning-m: rgb(115, 54, 12);
@warning-p: @primary-p;
@danger-m: rgb(133, 0, 30);
@danger-p: @primary-p;

@import "../root";
@import (reference) "../@{root}/color/component";

/*
 * a: activable
 * b: background
 * c: card
 * d: disabled
 */
:root {
  &:extend(.theme all);
}
