@background-m: rgb(34, 139, 34);
@background-p: rgb(255, 255, 255);
@card-m: rgb(245, 245, 220);
@card-p: rgb(50, 50, 50);
@disabled-m: rgb(255, 255, 240);
@disabled-p: rgb(50, 50, 50);
@primary-m: rgb(152, 251, 152);
@primary-p: rgb(100, 100, 100);
@secondary-m: rgb(144, 238, 144);
@secondary-p: @primary-p;
@naive-m: rgb(139, 115, 85);
@naive-p: @primary-p;
@success-m: rgb(50, 205, 50);
@success-p: @primary-p;
@info-m: rgb(0, 128, 128);
@info-p: @primary-p;
@warning-m: rgb(218, 165, 32);
@warning-p: @primary-p;
@danger-m: rgb(178, 34, 34);
@danger-p: @primary-p;

@import "../root";
@import (reference) "../@{root}/color/component";

/*
 * a: activable
 * b: background
 * c: card
 * d: disabled
 */
:root {
  &:extend(.theme all);
}