:root {
  /*
   * a: activable
   * b: background
   * c: card
   * d: disabled
   */--sc-a-m: #cd853f;--sc-a-m-rgb: 205, 133, 63;--sc-a-p: #646464;--sc-a-p-rgb: 100, 100, 100;--sc-b-m: #8b4513;--sc-b-m-rgb: 139, 69, 19;--sc-b-p: #ffffff;--sc-b-p-rgb: 255, 255, 255;--sc-c-m: #f5deb3;--sc-c-m-rgb: 245, 222, 179;--sc-c-p: #3c3c3c;--sc-c-p-rgb: 60, 60, 60;--sc-d-m: #fff8dc;--sc-d-m-rgb: 255, 248, 220;--sc-d-p: #3c3c3c;--sc-d-p-rgb: 60, 60, 60;--sc-primary-m: #cd853f;--sc-primary-m-rgb: 205, 133, 63;--sc-primary-p: #646464;--sc-primary-p-rgb: 100, 100, 100;--sc-secondary-m: #bc8f8f;--sc-secondary-m-rgb: 188, 143, 143;--sc-secondary-p: #646464;--sc-secondary-p-rgb: 100, 100, 100;--sc-naive-m: #808080;--sc-naive-m-rgb: 128, 128, 128;--sc-naive-p: #646464;--sc-naive-p-rgb: 100, 100, 100;--sc-success-m: #6b8e23;--sc-success-m-rgb: 107, 142, 35;--sc-success-p: #646464;--sc-success-p-rgb: 100, 100, 100;--sc-info-m: #6495ed;--sc-info-m-rgb: 100, 149, 237;--sc-info-p: #646464;--sc-info-p-rgb: 100, 100, 100;--sc-warning-m: #b8860b;--sc-warning-m-rgb: 184, 134, 11;--sc-warning-p: #646464;--sc-warning-p-rgb: 100, 100, 100;--sc-danger-m: #a52a2a;--sc-danger-m-rgb: 165, 42, 42;--sc-danger-p: #646464;--sc-danger-p-rgb: 100, 100, 100;
}
:root .secondary {
  --sc-a-m: #bc8f8f;--sc-a-m-rgb: 188, 143, 143;--sc-a-p: #646464;--sc-a-p-rgb: 100, 100, 100;
}
:root .naive {
  --sc-a-m: #808080;--sc-a-m-rgb: 128, 128, 128;--sc-a-p: #646464;--sc-a-p-rgb: 100, 100, 100;
}
:root .success {
  --sc-a-m: #6b8e23;--sc-a-m-rgb: 107, 142, 35;--sc-a-p: #646464;--sc-a-p-rgb: 100, 100, 100;
}
:root .info {
  --sc-a-m: #6495ed;--sc-a-m-rgb: 100, 149, 237;--sc-a-p: #646464;--sc-a-p-rgb: 100, 100, 100;
}
:root .warning {
  --sc-a-m: #b8860b;--sc-a-m-rgb: 184, 134, 11;--sc-a-p: #646464;--sc-a-p-rgb: 100, 100, 100;
}
:root .danger {
  --sc-a-m: #a52a2a;--sc-a-m-rgb: 165, 42, 42;--sc-a-p: #646464;--sc-a-p-rgb: 100, 100, 100;
}
/*
 * a: activable
 * b: background
 * c: card
 * d: disabled
 */
