@background-m: rgb(135, 206, 235);
@background-p: rgb(255, 255, 255);
@card-m: rgb(240, 248, 255);
@card-p: rgb(70, 70, 70);
@disabled-m: rgb(255, 255, 255);
@disabled-p: rgb(70, 70, 70);
@primary-m: rgb(173, 216, 230);
@primary-p: rgb(100, 100, 100);
@secondary-m: rgb(24, 191, 185);
@secondary-p: @primary-p;
@naive-m: rgb(126, 126, 126);
@naive-p: @primary-p;
@success-m: rgb(65, 198, 16);
@success-p: @primary-p;
@info-m: rgb(160, 17, 214);
@info-p: @primary-p;
@warning-m: rgb(255, 117, 24);
@warning-p: @primary-p;
@danger-m: rgb(255, 0, 57);
@danger-p: @primary-p;

@import "../root";
@import (reference) "../@{root}/color/component";

/*
 * a: activable
 * b: background
 * c: card
 * d: disabled
 */
:root {
  &:extend(.theme all);
}