@import (reference)  "../general";

.s-pager {
  display: flex;

  .s-button {
    padding: default-size();
    --text-color: rgba(var(--component-color-rgb), var(--component-opacity));
    min-width: var(--s-s);
    height: var(--s-s);
    line-height: var(--s-s);
    text-align: center;
  }
}